@mixin modal-sizes() {
	.modal-content__lg-full {
		left: 2em;
		right: 2em;
		top: 2em;
		bottom: 2em;
		margin-left: auto;
		width: auto;
	}
	.modal-content__lg-50 {
		right: auto;
		bottom: auto;
		left: 50%;
		margin-left: -26%;
		width: 50%;
	}
	.modal-content__lg-60 {
		right: auto;
		bottom: auto;
		left: 50%;
		margin-left: -32%;
		width: 60%;
	}
	.modal-content__lg-70 {
		right: auto;
		bottom: auto;
		left: 50%;
		margin-left: -37%;
		width: 70%;
	}
	.modal-content__lg-80 {
		right: auto;
		bottom: auto;
		left: 50%;
		margin-left: -43%;
		width: 80%;
	}
	.modal-content__lg-90 {
		right: auto;
		bottom: auto;
		left: 50%;
		margin-left: -47%;
		width: 90%;
	}
}

@mixin gradient-hover($selector, $colour1, $pos1, $colour2, $pos2, $colour3, $pos3, $colour4, $pos4) {

	$colour1Darker: adjust-lightness($colour1 -25%);
	$colour2Darker: adjust-lightness($colour2 -25%);

	@if $colour3 == null {
		%#{$selector} {
			background-color: $colour1;
			@include background-image(linear-gradient(top, $colour1 $pos1, $colour2 $pos2));
		}

		%#{$selector}:hover {
			background-color: $colour1;
			@include background-image(linear-gradient(top, $colour1Darker $pos1, $colour2Darker $pos2));
		}
	}
	@else {
		$colour3Darker: adjust-lightness($colour3 -25%);

		@if $colour4 == null {
			%#{$selector} {
				background-color: $colour1;
				@include background-image(linear-gradient(top, $colour1 $pos1, $colour2 $pos2, $colour3 $pos3));
			}

			%#{$selector}:hover {
				background-color: $colour1;
				@include background-image(linear-gradient(top, $colour1Darker $pos1, $colour2Darker $pos2, $colour3Darker $pos3));
			}
		}
		@else {
			$colour4Darker: adjust-lightness($colour4 -25%);
			%#{$selector} {
				background-color: $colour1;
				@include background-image(linear-gradient(top, $colour1 $pos1, $colour2 $pos2, $colour3 $pos3, $colour4 $pos4));
			}

			%#{$selector}:hover {
				background-color: $colour1;
				@include background-image(linear-gradient(top, $colour1Darker $pos1, $colour2Darker $pos2, $colour3Darker $pos3, $colour4Darker $pos4));
			}
		}
	}
}