.btn {
	padding: 0.5em 0.7em;
	border: $border-width $border-style $border-colour;
	border-radius: $border-radius;
	box-shadow: inset -0.1em -0.1em 0.2em rgba(0,0,0,0.1);
	font-family: $heading-font;
	font-size: 100%;
	cursor: pointer;

	&.btn-left {
		border-bottom-left-radius: 1.5em;
		border-top-left-radius: 1.5em;
		padding-left: 1em;
		margin-right: -0.2em;
		border: none;
	}
	&.btn-right {
		border-bottom-right-radius: 1.5em;
		border-top-right-radius: 1.5em;
		padding-right: 1em;
		margin-left: -0.2em;
		border: none;
	}


	&.btn-pointy-left {
		border-bottom-left-radius: 100% 50%;
		border-top-left-radius: 100% 50%;
		padding-left: 2em;
		margin-right: -0.2em;
		border: none;
	}
	&.btn-pointy-right {
		border-bottom-right-radius: 100% 50%;
		border-top-right-radius: 100% 50%;
		padding-right: 2em;
		margin-left: -0.2em;
		border: none;
	}

	&.btn-round {
		border-radius: 50%;
		padding-left: 0.65em;
		padding-right: 0.65em;
		padding-bottom: 0.4em;
		border: none;
	}


// ======================================
// Button colours

	$btn-colours: (
		defalt: $colour-default,
		primary: $colour-primary,
		secondary: $colour-secondary,
		success: $colour-success,
		info: $colour-info,
		warning: $colour-warning,
		danger: $colour-danger
	);

	@each $sel, $colour in $btn-colours {
		@if $sel == 'defalt' {
			$sel: 'default';
		}
		$top-colour: adjust-lightness($colour, -20%);
		$bottom-colour: adjust-lightness($colour, -30%);
		$adj-hov: -10%;
		$adj-act: 20%;
		$adj-dis: 20%;
		$adj-dis-sat: 50%;
		$pos-first: 0%;
		$pos-second: 33%;
		$pos-third: 100%;


		&.btn-#{$sel} {
			@include set-text-colour($colour);
			@include background-image(
				linear-gradient(
					top,
					$top-colour $pos-first,
					$colour $pos-second,
					$bottom-colour $pos-third
				)
			);

			&:hover {
				@include set-text-colour(adjust-lightness($colour, $adj-hov));
				@include background-image(
					linear-gradient(
						top,
						adjust-lightness($top-colour, $adj-hov) $pos-first,
						adjust-lightness($colour, $adj-hov) $pos-second,
						adjust-lightness($bottom-colour, $adj-hov) $pos-third
					)
				);
			}
			&:active {
				@include set-text-colour(adjust-lightness($colour, $adj-act));
				@include background-image(
					linear-gradient(
						top,
						adjust-lightness($top-colour, $adj-act) $pos-first,
						adjust-lightness($colour, $adj-act) $pos-second,
						adjust-lightness($bottom-colour, $adj-act) $pos-third
					)
				);
			}
			&:disabled {
				@include set-text-colour(adjust-lightness(adjust-saturation($colour, $adj-dis-sat), $adj-dis));
				@include background-image(
					linear-gradient(
						top,
						adjust-lightness(adjust-saturation($top-colour, $adj-dis-sat), $adj-dis) $pos-first,
						adjust-lightness(adjust-saturation($colour, $adj-dis-sat), $adj-dis) $pos-second,
						adjust-lightness(adjust-saturation($bottom-colour, $adj-dis-sat), $adj-dis) $pos-third
					)
				);
			}
		}
	}

// ======================================
// Button sizes

	&.btn-xl {
		font-size: 125%;
	}

	&.btn-lg {
		font-size: 112.5%;
	}

	&.btn-sm {
		font-size: 87.5%;
	}

	&.btn-xs {
		font-size: 75%;
	}
}