/* line 1, ../sass/_defaults.scss */
body {
  font-family: arial, helvetica, sans-serif;
  padding-bottom: 3em;
}

/* line 1, ../sass/_utilities.scss */
.hide {
  display: none !important;
}

@media screen, print {
  /* line 4, ../sass/_utilities.scss */
  .sr-only {
    position: absolute !important;
    left: -1000em !important;
    top: -1000em !important;
  }
}
/* line 1, ../sass/content/_forms.scss */
fieldset {
  border: none;
}
/* line 3, ../sass/content/_forms.scss */
fieldset fieldset {
  padding-right: 0%;
  padding-left: 0%;
}

/* line 9, ../sass/content/_forms.scss */
legend {
  position: relative;
}

/* line 13, ../sass/content/_forms.scss */
label.disabled {
  color: #a2a2a2;
}

/* line 1, ../sass/content/_buttons.scss */
.btn {
  padding: 0.5em 0.7em;
  border: 0.05em solid #ddd;
  border-radius: 0.3em;
  box-shadow: inset -0.1em -0.1em 0.2em rgba(0, 0, 0, 0.1);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 100%;
  cursor: pointer;
}
/* line 10, ../sass/content/_buttons.scss */
.btn.btn-left {
  border-bottom-left-radius: 1.5em;
  border-top-left-radius: 1.5em;
  padding-left: 1em;
  margin-right: -0.2em;
}
/* line 16, ../sass/content/_buttons.scss */
.btn.btn-right {
  border-bottom-right-radius: 1.5em;
  border-top-right-radius: 1.5em;
  padding-right: 1em;
  margin-left: -0.2em;
}
/* line 24, ../sass/content/_buttons.scss */
.btn.btn-pointy-left {
  border-bottom-left-radius: 100% 50%;
  border-top-left-radius: 100% 50%;
  padding-left: 2em;
  margin-right: -0.2em;
}
/* line 30, ../sass/content/_buttons.scss */
.btn.btn-pointy-right {
  border-bottom-right-radius: 100% 50%;
  border-top-right-radius: 100% 50%;
  padding-right: 2em;
  margin-left: -0.2em;
}
/* line 37, ../sass/content/_buttons.scss */
.btn.btn-round {
  border-radius: 50%;
  padding-left: 0.65em;
  padding-right: 0.65em;
  padding-bottom: 0.4em;
}
/* line 44, ../sass/content/_buttons.scss */
.btn.btn-default {
  background-color: #f7f2f2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjJmMiIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjZmZlYWVhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzZjNmM2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f2f2), color-stop(33%, #ffeaea), color-stop(100%, #c6c6c6));
  background-image: -moz-linear-gradient(top, #f7f2f2 0%, #ffeaea 33%, #c6c6c6 100%);
  background-image: -webkit-linear-gradient(top, #f7f2f2 0%, #ffeaea 33%, #c6c6c6 100%);
  background-image: linear-gradient(to bottom, #f7f2f2 0%, #ffeaea 33%, #c6c6c6 100%);
}
/* line 49, ../sass/content/_buttons.scss */
.btn.btn-primary {
  color: #fff;
  background-color: #8b89ed;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiODllZCIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjNjE2ZmVkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjUyY2VhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8b89ed), color-stop(33%, #616fed), color-stop(100%, #252cea));
  background-image: -moz-linear-gradient(top, #8b89ed 0%, #616fed 33%, #252cea 100%);
  background-image: -webkit-linear-gradient(top, #8b89ed 0%, #616fed 33%, #252cea 100%);
  background-image: linear-gradient(to bottom, #8b89ed 0%, #616fed 33%, #252cea 100%);
}
/* line 55, ../sass/content/_buttons.scss */
.btn.btn-secondary {
  color: #fff;
  background-color: #627d4d;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyN2Q0ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0M2ExMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #627d4d), color-stop(100%, #243a10));
  background-image: -moz-linear-gradient(top, #627d4d 0%, #243a10 100%);
  background-image: -webkit-linear-gradient(top, #627d4d 0%, #243a10 100%);
  background-image: linear-gradient(to bottom, #627d4d 0%, #243a10 100%);
}
/* line 61, ../sass/content/_buttons.scss */
.btn.btn-success {
  background-color: #f8ffe8;
  /* Old browsers */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZmZlOCIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjZTNmNWFiIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzljZTdmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8ffe8), color-stop(33%, #e3f5ab), color-stop(100%, #79ce7f));
  background-image: -moz-linear-gradient(top, #f8ffe8 0%, #e3f5ab 33%, #79ce7f 100%);
  background-image: -webkit-linear-gradient(top, #f8ffe8 0%, #e3f5ab 33%, #79ce7f 100%);
  background-image: linear-gradient(to bottom, #f8ffe8 0%, #e3f5ab 33%, #79ce7f 100%);
}
/* line 66, ../sass/content/_buttons.scss */
.btn.btn-info {
  background-color: #e1e575;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZTU3NSIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjZWZmMjU3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWNiMjAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e575), color-stop(33%, #eff257), color-stop(100%, #acb200));
  background-image: -moz-linear-gradient(top, #e1e575 0%, #eff257 33%, #acb200 100%);
  background-image: -webkit-linear-gradient(top, #e1e575 0%, #eff257 33%, #acb200 100%);
  background-image: linear-gradient(to bottom, #e1e575 0%, #eff257 33%, #acb200 100%);
}
/* line 71, ../sass/content/_buttons.scss */
.btn.btn-warning {
  background-color: #ffaf00;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWYwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmOTEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffaf00), color-stop(100%, #ff9100));
  background-image: -moz-linear-gradient(top, #ffaf00 0%, #ff9100 100%);
  background-image: -webkit-linear-gradient(top, #ffaf00 0%, #ff9100 100%);
  background-image: linear-gradient(to bottom, #ffaf00 0%, #ff9100 100%);
}
/* line 76, ../sass/content/_buttons.scss */
.btn.btn-danger {
  color: #fff;
  background-color: #ff6554;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNjU1NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMWEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff6554), color-stop(100%, #ff1a00));
  background-image: -moz-linear-gradient(top, #ff6554 0%, #ff1a00 100%);
  background-image: -webkit-linear-gradient(top, #ff6554 0%, #ff1a00 100%);
  background-image: linear-gradient(to bottom, #ff6554 0%, #ff1a00 100%);
}
/* line 82, ../sass/content/_buttons.scss */
.btn.btn-xl {
  font-size: 125%;
}
/* line 86, ../sass/content/_buttons.scss */
.btn.btn-lg {
  font-size: 112.5%;
}
/* line 90, ../sass/content/_buttons.scss */
.btn.btn-sm {
  font-size: 87.5%;
}
/* line 94, ../sass/content/_buttons.scss */
.btn.btn-xs {
  font-size: 75%;
}

/* line 2, ../sass/content/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: bold;
}

/* line 7, ../sass/content/_headings.scss */
h2, .h2 {
  font-size: 1.5em;
}

/* line 10, ../sass/content/_headings.scss */
h3, .h3 {
  font-size: 1.3em;
}

/* line 13, ../sass/content/_headings.scss */
h4, .h4 {
  font-size: 1.15em;
}

/* line 1, ../sass/content/_lists.scss */
.list-inline {
  margin-left: 0%;
  padding-left: 0%;
}
/* line 4, ../sass/content/_lists.scss */
.list-inline li {
  list-style-type: none;
  margin-left: 0%;
  padding-left: 0%;
  display: inline-block;
}
/* line 9, ../sass/content/_lists.scss */
.list-inline li:nth-child(1n + 2) {
  padding-left: 1em;
}

/* line 17, ../sass/content/_lists.scss */
.list-unstyled {
  margin-left: 0%;
  padding-left: 0%;
}
/* line 20, ../sass/content/_lists.scss */
.list-unstyled li {
  list-style-type: none;
  margin-left: 0%;
  padding-left: 0%;
}

/* line 2, ../sass/modules/_tabs.scss */
.tab-content {
  position: relative;
  padding: 2em 1em 1em;
  margin-top: 3em;
  border-top: 0.05em solid #ddd;
}
/* line 8, ../sass/modules/_tabs.scss */
.tab-content .tab-pane {
  display: none;
  position: absolute;
  top: 1em;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
/* line 15, ../sass/modules/_tabs.scss */
.tab-content .tab-pane fieldset {
  border: none;
}
/* line 21, ../sass/modules/_tabs.scss */
.tab-content input.tab-control {
  position: absolute;
  top: -1000em;
  left: -1000em;
}
/* line 25, ../sass/modules/_tabs.scss */
.tab-content input.tab-control + label {
  margin-left: 0%;
  padding-left: 0%;
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.05em solid #ddd;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-bottom: none;
  position: relative;
  top: -4.2em;
  background-color: #ffffff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyMSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGQyZGQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(21%, #ffffff), color-stop(100%, #d0d2dd));
  background-image: -moz-linear-gradient(top, #ffffff 21%, #d0d2dd 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 21%, #d0d2dd 100%);
  background-image: linear-gradient(to bottom, #ffffff 21%, #d0d2dd 100%);
  cursor: pointer;
}
/* line 43, ../sass/modules/_tabs.scss */
.tab-content input.tab-control:checked + label {
  background: #fff;
  color: #222;
  font-weight: bold;
  cursor: default;
}
/* line 48, ../sass/modules/_tabs.scss */
.tab-content input.tab-control:checked + label + .tab-pane {
  display: block;
}

@media screen {
  /* line 3, ../sass/modules/_modals.scss */
  .modal > .modal-content {
    display: none;
  }
  /* line 7, ../sass/modules/_modals.scss */
  .modal > input.modal-control:checked + label + .modal-content {
    display: block;
  }

  /* line 11, ../sass/modules/_modals.scss */
  .modal-content {
    position: absolute;
    top: 5em;
    right: 5em;
    bottom: 5em;
    left: 5em;
    background-color: #fff;
    padding: 1em;
    overflow-y: auto;
    border-radius: 0.4em;
    box-shadow: 0.5em 0.5em 1.5em rgba(0, 0, 0, 0.7);
    border: 0.05em solid #002;
    z-index: 100000;
  }
  /* line 25, ../sass/modules/_modals.scss */
  .modal-content .modal-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }

  /* line 32, ../sass/modules/_modals.scss */
  input.modal-control {
    position: absolute;
    top: -10000em;
    left: -10000em;
  }
  /* line 38, ../sass/modules/_modals.scss */
  input.modal-control + label .modal-closed {
    display: inline-block;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 1;
  }
  /* line 45, ../sass/modules/_modals.scss */
  input.modal-control + label .modal-open {
    display: none;
  }
  /* line 49, ../sass/modules/_modals.scss */
  input.modal-control:checked + label {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #005;
    background-color: rgba(0, 0, 50, 0.8);
    z-index: 10000;
  }
  /* line 60, ../sass/modules/_modals.scss */
  input.modal-control:checked + label .modal-closed {
    display: none;
  }
  /* line 63, ../sass/modules/_modals.scss */
  input.modal-control:checked + label .modal-open {
    display: inline-block;
  }
}
@media (min-width: 993px) {
  /* line 2, ../sass/_mixins.scss */
  .modal-content__lg-full {
    left: 2em;
    right: 2em;
    top: 2em;
    bottom: 2em;
    margin-left: auto;
    width: auto;
  }

  /* line 10, ../sass/_mixins.scss */
  .modal-content__lg-50 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -26%;
    width: 50%;
  }

  /* line 17, ../sass/_mixins.scss */
  .modal-content__lg-60 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -32%;
    width: 60%;
  }

  /* line 24, ../sass/_mixins.scss */
  .modal-content__lg-70 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -37%;
    width: 70%;
  }

  /* line 31, ../sass/_mixins.scss */
  .modal-content__lg-80 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -43%;
    width: 80%;
  }

  /* line 38, ../sass/_mixins.scss */
  .modal-content__lg-90 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -47%;
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  /* line 2, ../sass/_mixins.scss */
  .modal-content__lg-full {
    left: 2em;
    right: 2em;
    top: 2em;
    bottom: 2em;
    margin-left: auto;
    width: auto;
  }

  /* line 10, ../sass/_mixins.scss */
  .modal-content__lg-50 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -26%;
    width: 50%;
  }

  /* line 17, ../sass/_mixins.scss */
  .modal-content__lg-60 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -32%;
    width: 60%;
  }

  /* line 24, ../sass/_mixins.scss */
  .modal-content__lg-70 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -37%;
    width: 70%;
  }

  /* line 31, ../sass/_mixins.scss */
  .modal-content__lg-80 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -43%;
    width: 80%;
  }

  /* line 38, ../sass/_mixins.scss */
  .modal-content__lg-90 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -47%;
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  /* line 2, ../sass/_mixins.scss */
  .modal-content__lg-full {
    left: 2em;
    right: 2em;
    top: 2em;
    bottom: 2em;
    margin-left: auto;
    width: auto;
  }

  /* line 10, ../sass/_mixins.scss */
  .modal-content__lg-50 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -26%;
    width: 50%;
  }

  /* line 17, ../sass/_mixins.scss */
  .modal-content__lg-60 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -32%;
    width: 60%;
  }

  /* line 24, ../sass/_mixins.scss */
  .modal-content__lg-70 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -37%;
    width: 70%;
  }

  /* line 31, ../sass/_mixins.scss */
  .modal-content__lg-80 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -43%;
    width: 80%;
  }

  /* line 38, ../sass/_mixins.scss */
  .modal-content__lg-90 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -47%;
    width: 90%;
  }
}
@media screen and (max-width: 430px) {
  /* line 2, ../sass/_mixins.scss */
  .modal-content__lg-full {
    left: 2em;
    right: 2em;
    top: 2em;
    bottom: 2em;
    margin-left: auto;
    width: auto;
  }

  /* line 10, ../sass/_mixins.scss */
  .modal-content__lg-50 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -26%;
    width: 50%;
  }

  /* line 17, ../sass/_mixins.scss */
  .modal-content__lg-60 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -32%;
    width: 60%;
  }

  /* line 24, ../sass/_mixins.scss */
  .modal-content__lg-70 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -37%;
    width: 70%;
  }

  /* line 31, ../sass/_mixins.scss */
  .modal-content__lg-80 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -43%;
    width: 80%;
  }

  /* line 38, ../sass/_mixins.scss */
  .modal-content__lg-90 {
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: -47%;
    width: 90%;
  }
}
@media aural braille {
  /* line 84, ../sass/modules/_modals.scss */
  .modal-control, .modal-control-label {
    display: none;
  }
}
/* line 1, ../sass/modules/_regex_pairs.scss */
.regexes {
  padding-bottom: 3em;
}

/* line 5, ../sass/modules/_regex_pairs.scss */
.regexPair .flex-item {
  display: block;
}
/* line 7, ../sass/modules/_regex_pairs.scss */
.regexPair .flex-item:nth-child(3), .regexPair .flex-item:nth-child(4) {
  padding-top: 1em;
}
@media screen and (min-width: 42em) {
  /* line 13, ../sass/modules/_regex_pairs.scss */
  .regexPair .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -0.4em;
  }
  /* line 20, ../sass/modules/_regex_pairs.scss */
  .regexPair .flex .flex-item {
    flex-basis: 47.5%;
  }
}
/* line 27, ../sass/modules/_regex_pairs.scss */
.regexPair .checkbox-check label:nth-child(1) {
  padding-right: 1em;
}
/* line 31, ../sass/modules/_regex_pairs.scss */
.regexPair .add-remove {
  position: relative;
}
/* line 33, ../sass/modules/_regex_pairs.scss */
.regexPair .add-remove .add-remove__note {
  display: none;
  position: absolute;
  top: 3.5em;
  padding: 0.75em 1em 0;
  border: 0.05em solid #ddd;
  border-radius: 0.3em;
  background-color: #fff;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.7);
  z-index: 10;
}
/* line 43, ../sass/modules/_regex_pairs.scss */
.regexPair .add-remove .add-remove__note p {
  margin-top: 0%;
}
/* line 47, ../sass/modules/_regex_pairs.scss */
.regexPair .add-remove:hover .add-remove__note {
  display: block;
}
/* line 51, ../sass/modules/_regex_pairs.scss */
.regexPair button:focus + .add-remove__note, .regexPair button:focus + button + .add-remove__note, .regexPair button:focus + button + button + .add-remove__note {
  display: block;
}
/* line 55, ../sass/modules/_regex_pairs.scss */
.regexPair input[type="text"], .regexPair input[type="email"], .regexPair textarea {
  border: 0.1em solid #ddd;
  border-radius: 0.3em;
  font-family: monospace;
  margin-top: 0.2em;
  padding: 0.3em 0.5em;
  width: 100%;
}
/* line 63, ../sass/modules/_regex_pairs.scss */
.regexPair input.modifiers {
  width: auto;
}
/* line 67, ../sass/modules/_regex_pairs.scss */
.regexPair .replace {
  background-color: #eef;
}
/* line 70, ../sass/modules/_regex_pairs.scss */
.regexPair .find {
  background-color: #dfd;
}

/* line 76, ../sass/modules/_regex_pairs.scss */
.regex-error {
  padding-top: 1.7em;
}
/* line 80, ../sass/modules/_regex_pairs.scss */
.regex-error .find {
  background-color: #fcc;
}

/* line 86, ../sass/modules/_regex_pairs.scss */
.error-msg {
  padding: 0.65em 1.75em 0.65em 1em;
  background-color: #f00;
  color: #fff;
  display: block;
  position: relative;
  top: -1.7em;
}
/* line 94, ../sass/modules/_regex_pairs.scss */
.error-msg:before {
  content: 'Regex error: ';
  color: #ff0;
  font-weight: bold;
}

/* line 1, ../sass/modules/_matches.scss */
.match-sample {
  border-top: 0.1em solid #ccc;
  padding-top: 1em;
  margin-bottom: 1em;
}
/* line 6, ../sass/modules/_matches.scss */
.match-sample:first-child {
  border-top: none;
  padding-top: 0%;
}

/* line 12, ../sass/modules/_matches.scss */
.regex-match-item {
  padding: 1em;
  border: 0.1em dotted #ddd;
}
/* line 16, ../sass/modules/_matches.scss */
.regex-match-item.has-error {
  background-color: #f00;
  color: #ff0;
}

/* line 23, ../sass/modules/_matches.scss */
.match-match {
  padding-left: 1.5em;
}
/* line 25, ../sass/modules/_matches.scss */
.match-match > li {
  list-style-type: lower-alpha;
  padding-left: 1em;
}

/* line 30, ../sass/modules/_matches.scss */
.whole-match:before {
  content: 'Whole match: ';
  font-weight: bold;
}

/* line 35, ../sass/modules/_matches.scss */
.match-subpatterns:before {
  content: 'Sub-patterns: ';
  display: block;
  text-indent: -3em;
  font-weight: bold;
}

/* line 43, ../sass/modules/_matches.scss */
pre.find {
  background-color: #ffe;
}
/* line 46, ../sass/modules/_matches.scss */
pre.modifiers {
  background-color: transparent;
}
/* line 49, ../sass/modules/_matches.scss */
pre.modifiers:before {
  content: 'Modifiers: ';
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 54, ../sass/modules/_matches.scss */
pre.replace {
  background-color: #eef;
}

/* line 1, ../sass/modules/_samples.scss */
#input textarea {
  width: 100%;
  height: 40em;
}

/* line 1, ../sass/modules/_layout.scss */
#butt {
  position: fixed;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.6em 0% 1em;
}
/* line 8, ../sass/modules/_layout.scss */
#butt p {
  text-align: center;
  margin-bottom: -1.8em;
  margin-top: 0%;
}

/* line 1, ../sass/modules/_settings_styles.scss */
.main-setting:nth-child(1n + 2) > legend {
  border-top: 0.1em solid #ddd;
  padding-top: 1em;
  display: block;
  width: 100%;
}

/*# sourceMappingURL=regex.css.map */
