.btn {
	&.btn-left {
		border-bottom-left-radius: 1.5em;
		border-top-left-radius: 1.5em;
	}
	&.btn-right {
		border-bottom-right-radius: 1.5em;
		border-top-right-radius: 1.5em;
	}
	&.btn-round {
		border-radius: 50%;
		padding-left: 0.65em;
		padding-right: 0.65em;
		padding-bottom: 0.4em;
	}
}