#input, #output {
	padding-bottom: 4em;
	textarea {
		height: 15em;
		width: 100%;
	}

	@media screen and (min-height: 480px) {
		textarea {
			height: 24em;
		}

	}

	@media screen and (min-height: 640px) {
		textarea {
			height: 33em;
		}

	}

	@media screen and (min-height: 900px) {
		textarea {
			height: 36em;
		}

	}
}
