.regexes {
	padding-bottom: 3em;
}
.regexPair {
	.flex-item {
		display: block;
		&:nth-child(3), &:nth-child(4)  {
		padding-top: 1em;

		}
	}
	@media screen and (min-width: 42em) {
		.flex {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: -0.4em;

			.flex-item {
				// flex-grow: 1;
				flex-basis: 47.5%;
			}
		}
	}

	.checkbox-check label:nth-child(1) {
		padding-right: 1em;
	}

	.add-remove {
		position: relative;
		.add-remove__note {
			display: none;
			position: absolute;
			top: 3.5em;
			padding: 0.75em 1em 0;
			border: $border-width $border-style $border-colour;
			border-radius: $border-radius;
			background-color: #fff;
			box-shadow: 0.5em 0.5em 1em rgba(0 , 0 , 0 , 0.7);
			z-index: 10;
			p {
				margin-top: 0%;
			}
		}
		&:hover .add-remove__note {
			display: block
		}
	}
	button:focus + .add-remove__note , button:focus + button + .add-remove__note , button:focus + button + button + .add-remove__note {
		display: block
	}

	input[type="text"], input[type="email"], textarea {
		border: 0.1em solid #ddd;
		border-radius: 0.3em;
		font-family: monospace;
		margin-top: 0.2em;
		padding: 0.3em 0.5em;
		width: 100%;
	}
	input.modifiers {
		width: auto;
	}

	.replace {
		background-color: #eef;
	}
	.find {
		background-color: #dfd;
	}
}


.regex-error {
    padding-top: 1.7em;

	.find {
		background-color: #fcc;
	}
}


.error-msg {
    padding: 0.65em 1.75em 0.65em 1em;
    background-color: #f00;
    color: #fff;
    display: block;
    position: relative;
    top: -1.7em;

	&:before {
		content: 'Regex error: ';
		color: #ff0;
		font-weight: bold;
	}
}